
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */