
.social-qzone:before { content: '\e800'; } /* '' */
.social-diandian:before { content: '\e801'; } /* '' */
.social-douban:before { content: '\e802'; } /* '' */
.social-twitter:before { content: '\f099'; } /* '' */
.social-help:before { content: '\f128'; } /* '' */
.social-weibo:before { content: '\f18a'; } /* '' */
.social-qq:before { content: '\f1d6'; } /* '' */
.social-wechat:before { content: '\f1d7'; } /* '' */
.social-facebook-squared:before { content: '\f308'; } /* '' */
.social-linkedin-squared:before { content: '\f30c'; } /* '' */
.social-gplus:before { content: '\f30f'; } /* '' */